<div class="flex md:justify-content-center p-component align-items-center">
  <div class="col-12 md:col-4 lg:col-2 sm:col-12">
    <h1 class="flex text-800 justify-content-center align-items-center mt-8 mb-5">
      <i class="pi pi-paperclip text-primary mr-3"
         style="font-size: 3rem"></i>
      <div>Address Book</div>
    </h1>
    <div class="card shadow-0 md:shadow-1 flex flex-column align-content-end justify-content-end">
      <form [formGroup]="this.form" (ngSubmit)="auth()">
        <h2 class="mt-1 mb-4">Login</h2>
        <div class="field p-fluid mb-3">
        <span class="p-float-label">
            <input formControlName="username"
                   id="username"
                   type="text"
                   autocomplete="username"
                   pInputText>
            <label for="username">Username</label>
            <small class="p-error" *ngIf="username?.dirty && username?.invalid">Username required</small>
        </span>
        </div>
        <div class="field p-fluid mb-5">
        <span class="p-float-label">
            <input formControlName="password"
                   id="password"
                   type="password"
                   autocomplete="current-password"
                   pInputText>
            <label for="password">Password</label>
            <small class="p-error" *ngIf="password?.dirty && password?.invalid">Password required</small>
        </span>
        </div>
        <div class="flex justify-content-end">
          <button [loading]="isLoading"
                  pButton
                  type="submit"
                  iconPos="right"
                  icon="pi pi-arrow-circle-right"
                  class="col-12"
                  label="Login"></button>
        </div>
      </form>
    </div>
  </div>
</div>
