/* You can add global styles to this file, and also import other style files */

html {
  font-size: 13px;
}

body {
  margin: 0;
  background-color: var(--surface-section);
}

.card {
  padding: 2rem
}

