<div class="flex">
  <div class="col-12">
    <p-dataView [value]="clients" [loading]="isLoading" [paginator]="true" [rows]="20">
      <ng-template pTemplate="header">
        <div class="flex justify-content-between">
          <h2 class="text-800">Clients list</h2>
          <p-button label="add" icon="pi pi-user-plus"></p-button>

        </div>
      </ng-template>
      <ng-template let-client pTemplate="listItem">
        <div class="col-12">
          <div class="grid justify-content-between py-3">
            <div class="col text-500">
              <p-avatar icon="pi pi-user" size="xlarge" shape="circle"></p-avatar>
            </div>
            <div class="col-3">
              <h3 class="mt-0 mb-1">{{client.name}}</h3>
              <p class="mt-0 mb-1">{{client.email}}</p>
              <small>created by: {{client.user.name}}</small>
            </div>
            <div class="col-7">
              <div class="flex align-items-center flex-wrap">
                <p-chip *ngFor="let address of client.addressList"
                        label="{{address.address1}} {{address.state}} {{address.city}}"
                        icon="pi pi-map-marker"
                        styleClass="mb-2 mr-2"></p-chip>
              </div>
            </div>
            <div class="col-1">
              <button pButton pRipple type="button" icon="pi pi-pencil" label="Edit"
                      class="p-button-text p-button-plain"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>

  </div>
</div>
