<div class="flex mt-5 p-component justify-content-center">
  <div class="col-12 md:col-4 text-center text-800">
    <img class="avatar" src="https://avatars.githubusercontent.com/u/53913902?s=400&u=e26ba8cb27018a9006251686a8d80e4b1887b7bd&v=4" alt="me">
    <h2>👋 Hi there, I'm Julio José Capellán</h2>
    <p class="text-2xl">I'm a Java and Angular developer.
      I'll made this sample project to show my
      skills with this stack</p>
    <h2 class="text-center text-800">
      🚀 Project's details
    </h2>
    <p class="text-2xl">
        Some cool enterprise needs manage it's clients and he's multiple addresses. As you can see it's a pretty simple CRUD
    </p>
    <h2>
      🤯 Well, I get inspire and I add some stuff like
    </h2>
    <div class="text-xl">Spring boot API</div>
    <div class="text-xl">Docker containers for API, DB (Postgres) and Frontend app (Angular)</div>
    <div class="flex justify-content-center mt-5">
      <button
        pButton
        label="Go to project"
        class="mr-3"
        iconPos="right"
        icon="pi pi-arrow-right"
        routerLink="/client"
      ></button>
      <a pButton
         href="https://github.com/jcapellanvasquez/AddressBook"
              label="More details..."
              class="p-button-text p-button-plain"></a>
    </div>
  </div>
</div>
